<div class="container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

  <div class="card">
    <h3 class="card-header">Entry</h3>
    <div class="card-body">
      <form>
        <div class="form-group row">
          <label class="col-form-label col-sm-2">Type:</label>
          <div class="col-sm-6">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="wtype" [(ngModel)]="workout.type">
              <label ngbButtonLabel class="btn-primary"><input ngbButton type="radio" value="bike">Bike</label>
              <label ngbButtonLabel class="btn-primary"><input ngbButton type="radio" value="run">Run</label>
              <label ngbButtonLabel class="btn-primary"><input ngbButton type="radio" value="row">Row</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2">Date:</label>
          <div class="col-sm-3">
            <!-- <input type="text" class="form-control" name="wdate" [(ngModel)]="workout.date" /> -->
            <!-- <ngb-datepicker #d name="wdate" [(ngModel)]="workout.date" 
                [startDate]="startDate" [maxDate]="maxDate"></ngb-datepicker> -->

            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="wdate" [(ngModel)]="workout.date" [maxDate]="maxDate"
                ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-info calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2">Time:</label>
          <div class="col-sm-3">
            <ngb-timepicker name="tp" [(ngModel)]="workout.time" [meridian]="true" [seconds]="false" [spinners]="true"
              [minuteStep]="15"></ngb-timepicker>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2">Quality:</label>
          <div class="col-sm-3 mt-sm-2">
            <ngb-rating [(rate)]="workout.rating" [readonly]="false" max="5">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
              </ng-template>
            </ngb-rating>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2">Distance:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="wdistance" [(ngModel)]="workout.distance" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-sm-2">Location:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="wlocation" [(ngModel)]="workout.location" 
                [ngbTypeahead]="locationsSearch" />
                <!-- [resultFormatter]="locationsFormatter" [inputFormatter]="locationsFormatter" -->
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4 mt-sm-3">
            <button class="btn btn-primary mr-sm-2" (click)="save()">Save</button>
            <a class="btn btn-secondary" [routerLink]="['/workouts']">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>