.star {
    font-size: 1.5rem;
    color: #c7fcc7;
}
.filled {
    color: #5cb85c;
}
.bad {
    color: #deb0b0;
}
.filled.bad {
    color: #ff1e1e;
}

.alert-custom {
    background-color: purple;
}

.custom-popover {
    background: #5bc0de;
}

.custom-popover .popover-header {
    background: #5cb85c;
}