<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']">Workout Tracker</a>

  <div class="collapse navbar-collapse xnavbar-nav xnav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/']" [routerLinkActive]="['link-active']">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/workouts']" [routerLinkActive]="['link-active']">Workouts</a>
      </li>
    </ul>
  </div>
</div>